@charset "UTF-8";

@font-face {
    font-family:'idroid';
    src: url(fontes/idroid.otf);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #3aa05c52;
    margin: 0px;
}

header {
    background-image:linear-gradient(to bottom, #3AA05C, #1a4729) ;
}

header > h1 {
    color: white;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.199);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 0px;
}

header > p {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.596);
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 0px 15px 0px;
    margin: 0px;
}

header > nav {
    padding: 10px 0px 5px 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.596);
    font-family:Arial, Helvetica, sans-serif;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 6px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

main {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: white;
}

main > h1 {
    font-family: 'idroid';
    color: #1a4729;
    font-size: 1.5em;
    margin: 0px;
    padding: 10px 0px 10px 15px;
}

main > p {
    text-align: justify;
    text-indent: 2em;
    padding: 0px 15px 0px 15px;
    margin: 0px;
}

main > h2 {
    font-family: 'idroid';
    color: #1a4729;
    font-size: 1.3em;
    background-image: linear-gradient(to right, #07f55683, #07f55600);
    margin-left: 10px;
    padding-left: 10px;
}

strong > a {
    color: black;
    background-color: #07f55683;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}

strong {
    color:#1a4729;
}

.padding-top{
    padding-top: 15px;
}

.padding-bottom{
    padding-bottom: 15px;
}

div {
    background-color: rgb(167, 247, 220);
    margin: 10px;
    border-radius: 10px 10px 10px 10px;

}

div > iframe {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0px;
    background-color: #1a4729;
}

div > h3 {
    border-radius: 10px 10px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background-color: #3AA05C;
    color: white;
    font-size: 1em;
}

div > p {
    margin: 0px 15px 0px 15px;
    padding: 5px 10px 10px 10px;
    text-indent: 15px;
    text-align: justify;
    background-color: rgb(167, 247, 220);
}

div > ul {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
    list-style-type: "\2714  ";
    background-color: rgb(167, 247, 220);
    margin: 0px 15px 0px 15px
}

.radius {
    border-radius: 0px 0px 10px 10px;
}

footer {
    color: white;
    background-color: #1a4729;
    margin: 0px;
    font-size: 0.8em;
    text-align: center;
}

footer > p{
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

nav > a:hover {
    background-color: #3AA05C;
    transition: opacity;
    padding: 6px;
    color: #1a4729;
    border-radius: 2px;
    text-decoration: none;
}
a:active{
    color: yellow;
    text-decoration: underline;
}

.width {
    width: 100%;
}